@{
    ViewData["Title"] = "Home Page";

}
<div class="content">
    

    <div style="margin-bottom:10px; ">

        <div class="text-center" style="align-content:center">
            <div id="homecontainer">

                <div class="backgroundimg"></div>
            </div>
            <div id="txtbox" style="opacity:100%">
                <h3 style="font-size:1px; width:max-content;align-content:center; margin-top:2.5%; font-family:'Book Antiqua'">Welcome to the </h3>
                <h1 style="font-size:1px; width:max-content; align-content:center; margin-top:4.5%; font-family:'Book Antiqua'">Bean Scene </h1>
                <div style="">
                    <h4 style="font-size:0.7px; width:max-content; align-content:center; margin-top:25%; font-family:Verdana">Make a Reservation Today</h4>
                    @*<button asp-controller="HomeController" asp-action="Reserve">Reserve</button>*@
                   @* <div class="homecontents">
                        <div class="box">
                            <div class="homecolumn"></div>
                             <div class="homecolumn"></div>
                              <div class="homecolumn"></div>
                            <div class="homecolumn"></div>

                        </div>
                    </div>*@
                </div>
              
                        
                   


            </div>




        </div>
    </div>
</div>
<style>
    #homecontainer {
        margin-top:20px;
        position: relative;
        background-attachment: fixed;
        opacity: 70%;
        overflow: hidden;
        height: 720px;
        width: 1280px;
        max-width: 1280px;
        box-shadow: 0 0 30px 30px #101010 inset
    }

    #txtbox {
       
        justify-content: center;
        align-content: center;
        position: absolute;
        top: 130px;
        left: 400px;
        right: 400px;
    }

    .image-blurred-edge {
    }

    .homecontents {
        width: 170%;
        margin-left: -35%;
        margin-top: 10%;
        height: 300px;
        flex: 1;
        display: flex;
        overflow: hidden;
    }

    .box {
        height: 100%;
        width: 100%;
       
        background-color: #202020;
        display: flex;
        flex-direction: column;
    }

    .homecolumn {
        flex: 1;
        border:solid;
        border-color: goldenrod;
        height: 100%;
    }

    .backgroundimg {
        background-attachment:fixed;
        background-size:100%;
        background-image: url("CoffeeBackdrop.jpg");
        top:20px;
        height: 720px;
        width: 1280px;
        object-fit: cover;
        opacity: 80%;
        background-repeat: no-repeat;
        box-shadow: 0 0 30px 30px #101010 inset
    }

    .html, .body {
        width: 100%;
        height: 100vh;
    }
    /*a*/



</style>


