@{
    ViewData["Title"] = "Home Page";

}
<div>
    
    <div class="text-center" style="align-content:center">
        <div id="container">
            <div class="backgroundimg"></div>
        </div>
        <div id="box" style="opacity:100%">
            <h3 class="display-4" style="font-size:50px; font-family:'Book Antiqua'">Welcome to the </h3>
            <h1 class="display-4" style="font-size:70px; font-family:'Book Antiqua'">Bean Scene </h1>
        </div>



    </div>
</div>
<style>
    #container {
        position: absolute;
        top: 85px;
        opacity: 70%;
        overflow: hidden;
        height:720px;
        width:100%;
        max-width: 1280px;
    }

    #box {
        position: absolute;
        top: 130px;
        left: 100px;
        right: 100px;
    }
    .image-blurred-edge{

    }
    .backgroundimg {
        background-image: url("CoffeeBackdrop.jpg");
        
        max-height: 720px;
        max-width: 1280px;
        min-height: 360px;
        min-width: 640px;
        height:720px;
        width:auto;
        background-size: auto;
        object-fit: cover;
        opacity: 50%;
        background-repeat: no-repeat;
        box-shadow: 0 0 60px 70px #101010 inset
    }
</style>

