@using static BeanSceneAppV1.Models.Reservation
@using System.Data.SqlClient;
@using System.Data;
@using BeanSceneAppV1.Data;
@using System.Globalization
@model BeanSceneAppV1.ViewModels.ReservationViewModel

@{
    ViewData["Title"] = "Create";
    @*min="@DateTime.Parse()"*@
}

<h1>Create</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Reservation.Date" class="control-label"></label>
                <input asp-for="Reservation.Date"  class="form-control" />
                <span asp-validation-for="Reservation.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.TimeSlotId" class="control-label"></label>
                @Html.DropDownListFor(model => model.Reservation.TimeSlotId, new SelectList(Model.TimeSlots, "Id", "Time"),
                new {@class="form-control form-selevct"})
            </div>
            @*  <div class="form-group">
            <label asp-for="Reservation.SittingId" class="control-label"></label>
            @Html.DropDownListFor(model => model.Reservation.SittingId, new SelectList(Model.Sittings, "Id", "Sitting_Type"),
            new {@class="form-control form-selevct"})
            </div>*@
            <div class="form-group">
                <label asp-for="Reservation.GuestAmmount" class="control-label"></label>
                <input asp-for="Reservation.GuestAmmount" class="form-control" />
                <span asp-validation-for="Reservation.GuestAmmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.FirstName" class="control-label"></label>
                <input asp-for="Reservation.FirstName" class="form-control" />
                <span asp-validation-for="Reservation.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.LastName" class="control-label"></label>
                <input asp-for="Reservation.LastName" class="form-control" />
                <span asp-validation-for="Reservation.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.Phone" class="control-label"></label>
                <input asp-for="Reservation.Phone" class="form-control" />
                <span asp-validation-for="Reservation.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.Email" class="control-label"></label>
                <input asp-for="Reservation.Email" class="form-control" />
                <span asp-validation-for="Reservation.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.SeatingRequest" class="control-label"></label>
                <input asp-for="Reservation.SeatingRequest" class="form-control" />
                <span asp-validation-for="Reservation.SeatingRequest" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top:10px">
                <input type="submit" value="Create" class="btn btn-primary createbtn" />
            </div>
            <div class="alert2"  style="margin-top:10px">
                <p>Reservation Requested</p>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<style>
    .alert2 {
        padding: 20px;
        background-color: #04AA6D;
        color: white;
        visibility: hidden
    }

</style>
<script>
    const alert2 = document.getElementsByClassName("alert2")
    const createbtn = document.getElementsByClassName("createbtn")

    for (i = 0; i < alert.length; i++) {
        for (j = 0; j < createbtn.length; j++) {
            createbtn[j].onclick = function () {
                console.log("help")
                alert2[i].removeAttribute = "hidden";
            }
        }
    }
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
