@using static BeanSceneAppV1.Models.Reservation
@using System.Data.SqlClient;
@using System.Data;
@using BeanSceneAppV1.Data;
@using System.Globalization
@model BeanSceneAppV1.ViewModels.ReservationViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Reservation.Id" />
            <div class="form-group">
                <label asp-for="Reservation.Date" class="control-label"></label>
                <input asp-for="Reservation.Date" class="form-control" />
                <span asp-validation-for="Reservation.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.TimeSlot.Time" class="control-label"></label>
                @*bruh*@
                @Html.DropDownListFor(model => model.Reservation.TimeSlotId, new SelectList(Model.TimeSlots, "Id", "Time"),
                new {@class="form-control form-select"})
                <span asp-validation-for="Reservation.TimeSlotId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.SittingId" class="control-label"></label>
                @*bruh*@
                <input asp-for="Reservation.SittingId" class="form-control" />
                <span asp-validation-for="Reservation.SittingId" class="text-danger"></span>
            </div>        
            <div class="form-group">
                <label asp-for="Reservation.GuestAmmount" class="control-label"></label>
                <input asp-for="Reservation.GuestAmmount" class="form-control" />
                <span asp-validation-for="Reservation.GuestAmmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.FirstName" class="control-label"></label>
                <input asp-for="Reservation.FirstName" class="form-control" />
                <span asp-validation-for="Reservation.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.LastName" class="control-label"></label>
                <input asp-for="Reservation.LastName" class="form-control" />
                <span asp-validation-for="Reservation.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.Phone" class="control-label"></label>
                <input asp-for="Reservation.Phone" class="form-control" />
                <span asp-validation-for="Reservation.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.Email" class="control-label"></label>
                <input asp-for="Reservation.Email" class="form-control" />
                <span asp-validation-for="Reservation.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.SeatingRequest" class="control-label"></label>
                <input asp-for="Reservation.SeatingRequest" class="form-control" />
                <span asp-validation-for="Reservation.SeatingRequest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.Status" class="control-label"></label>
                <select asp-for="Reservation.Status" class="form-control"></select>
                <span asp-validation-for="Reservation.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
